@import url('https://fonts.googleapis.com/css?family=Open+Sans:400|Roboto+Slab:400&display=swap');
@import '../../APP/base.scss';

$assetPath : "../../../images";

.signup {
  display: flex;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background: $bg-color1;

  .auth {
    position: absolute;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 4rem;
    text-align: center;
    z-index: 1;

    .account {
      font-size: 1.4rem;
      color: $font-color2;

      a {
        display: inline-block;
        padding-left: 0.5rem;
        color: $primary-color;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
