@import 'Reset.scss';
@import './base.scss';
$assetPath : "../../images";

html {
  font-size: 10px;

  body {
    background: $bg-color1;

    .container {
      width: 100vw;
      height: 100vh;
      background: $bg-color1;
      margin: 0 auto;
    }

    form {
      input[type=text],
      input[type=email],
      input[type=password],
      input[type=submit],
      input[type=file],
      textarea {
        @include input-default;
      }

      input[type=text]:read-only {
        background: $bg-color2;
      }

      input[type=submit] {
        @include input-primary;
      }

      textarea {
        height: 10rem;
      }
    }

    header {
      width: 100vw;
      height: 60px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      z-index: 1;

      .button-back {
        position: absolute;
        left: 1.5rem;
        top: 1.7rem;
        background: url(#{$assetPath}/back.png) no-repeat 0 0;
        background-size: cover;
        width: 2.5rem;
        height: 2.5rem;
      }

      h1 {
        position: absolute;
        top: 1.7rem;
        font-family: 'Roboto Slab', 'Nanum Myeongjo', serif;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
      }
    }

    .button-close {
      position: absolute;
      right: 1rem;
      top: 1rem;
      background: url(#{$assetPath}/close.png) no-repeat 0 0;
      background-size: cover;
      width: 2.5rem;
      height: 2.5rem;
    }

    .nodata {
      padding-top: 100px;
      text-align: center;
      font-size: 1.4rem;
    }

    .gmnoprint,
    .gm-fullscreen-control {
      display: none;
    }
  }
}
