@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Open+Sans:400|Roboto+Slab:400&display=swap');

$assetPath : "../../../images";

$primary-color: #54D3C2;
$bg-color: #f6f6f6;


@mixin input-default {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 2rem 0;
  border-radius: 1rem;
  background: #fff;
  padding: 1.5rem 2rem;
  border: none;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
  color: #666;
  font-size: 1.4rem;
}

@mixin input-primary {
  @include input-default;

  margin: 5rem 0;
  background: $primary-color;
  color: #fff;
}
