@import '../../App/base.scss';

.wrap-map {
  .trip-map {
    position: fixed;
    left: 0;
    bottom: -100vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation: slide-up .5s forwards;
  }

  .auto-complete {
    @include input-default;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
  }

  .button-map-save {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    @include input-primary;
    margin: 0;
    width: 90vw;
  }
}

@keyframes slide-up {
  100% { bottom: 0; }
}
