.trip-map {
  width: 100vw;
  height: 100vh;
  margin-top: 50px;
  position: absolute;
  bottom: -100vh;
  // bottom: calc(-1 * (100vh));
  animation: slide-up .5s forwards;
  // animation-delay: 2s;
}

@keyframes slide-up {
  100% { bottom: 0; }
}

@keyframes slide-down {
  100% { bottom: -100vh; }
}

.button-map-hide {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: #fff;
}

.button-map-save {
  position: absolute;
  left: 0;
  bottom: 50px;
  background: #fff;
}

.auto-complete {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100vw;
  height: 40px;
  padding-left: 16px;
  margin-top: 2px;
  margin-bottom: 100px;
}

input[type=text]:read-only {
  background: #ddd;
}

.gmnoprint,
.gm-fullscreen-control {
  display: none;
}
